<launch>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    

    <node pkg="ros_web_control" type="roswebnode.py" name="roswebnode">
    </node>
    <!-- For video server  -->
    <node pkg="web_video_server" type="web_video_server" name="web_video_server"> 
    
</node>
</launch>
